.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1d20;
  color: white;
}
.container{
  display: flex;
  
  border: 2px solid #04f24b;
  height: 80vh;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
.todoForm{
  display: flex;
  border: none;
  width: 450px;
  justify-content: space-around;
}
input{
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}
button{
  border: none;
  padding: 10px;
  border-radius: 20px;
  margin: 0 5px;
}
.allTodos{
list-style: none;
margin: 0;
padding: 0;

}

.singleTodo{
  background-color: #04f24b;
  
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 20px;
  width: 450px;
  display: flex;
  align-items: center;
}
.todoText{
  flex: 1;
}